.header {
  .row {
    & > div {
      height: 40px;
      line-height: 40px;
      border: 1px solid gray;
      text-align: center;
      & > a {
        font-size: 13px;
        color: gray;
        text-decoration: none;
      }
      &:nth-child(n+3) a {
        margin-left: 10px;
      }
      &:first-child {
        position: relative;
        img {
          display: none;
          position: absolute;
          left: 40px;
          top: 40px;
        }
        &:hover {
          img {
            display: block;
          }
        }
      }
    }
  }
}

//bootstrap中导航条样式的拷贝和调试
.nav {
  .navbar {
    margin-bottom: 0;
  }
  .wjs_navbar-navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .wjs_navbar-navbar .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
    span {
      font-size: 50px;
      &:first-child {
        color: red;
      }
      &:last-child {
        color: black;
      }
    }
  }
  .wjs_navbar-navbar .navbar-brand:hover,
  .wjs_navbar-navbar .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_navbar-navbar .navbar-text {
    color: #777;
  }
  .wjs_navbar-navbar .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
  }
  .wjs_navbar-navbar .navbar-nav > li > a:hover,
  .wjs_navbar-navbar .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid red;
  }
  .wjs_navbar-navbar .navbar-nav > .active > a,
  .wjs_navbar-navbar .navbar-nav > .active > a:hover,
  .wjs_navbar-navbar .navbar-nav > .active > a:focus {
    color: #555;
    //background-color: #e7e7e7;
  }
  .wjs_navbar-navbar .navbar-nav > .disabled > a,
  .wjs_navbar-navbar .navbar-nav > .disabled > a:hover,
  .wjs_navbar-navbar .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .wjs_navbar-navbar .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
  }
  .wjs_navbar-navbar .navbar-toggle:hover,
  .wjs_navbar-navbar .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_navbar-navbar .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_navbar-navbar .navbar-collapse,
  .wjs_navbar-navbar .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_navbar-navbar .navbar-nav > .open > a,
  .wjs_navbar-navbar .navbar-nav > .open > a:hover,
  .wjs_navbar-navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }

    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }

    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }

    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_navbar-navbar .navbar-link {
    color: #777;
  }
  .wjs_navbar-navbar .navbar-link:hover {
    color: #333;
  }
  .wjs_navbar-navbar .btn-link {
    color: #777;
  }
  .wjs_navbar-navbar .btn-link:hover,
  .wjs_navbar-navbar .btn-link:focus {
    color: #333;
  }
  .wjs_navbar-navbar .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_navbar-navbar .btn-link:hover,
  .wjs_navbar-navbar .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_navbar-navbar .btn-link:focus {
    color: #ccc;
  }
}

//轮播图
.banner {
  .banner_a {
    display: block;
    height: 410px;
    background-size: cover; /*为了让中间的内容保留，多余的部分被自动切割*/
    background-position: center;
    background-repeat: no-repeat;
    &.image_a {
      background-image: url(../images/slide_01_2000x410.jpg);
    }
    &.image_b {
      background-image: url(../images/slide_02_2000x410.jpg);
    }
    &.image_c {
      background-image: url(../images/slide_03_2000x410.jpg);
    }
    &.image_d {
      background-image: url(../images/slide_04_2000x410.jpg);
    }
  }
  /*移动端轮播图适配*/
  .mobile_a {
    display: block;
    width: 100%;
    & > img {
      display: block;
      width: 100%;
    }
  }
}

//信息列表
.info{
  padding-top: 50px;
  .container{
    max-width:910px;
    .row{
      &>div{
        margin-bottom: 25px;
        padding-left: 30px;
        //text-align: center;
      }
    }
  }
  .wjs_media {
    a{
      display: block;
      color: gray;
      &:hover{
        color:red;
      }
      .media-left{
        .wjs_font{
          font-size: 40px;
        }
      }
    }
  }
}

//立即预约
.book{
  //height:60px;
  //line-height: 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  .container-fluid{
    /**/
    padding:20px 100px;
  }
  .pull-left{
    a{
      color:red;
      border-bottom: 1px dashed red;
    }
  }
  .pull-right{
    a{
      color:gray;
      &:hover{
        color:red;
      }
    }
  }
}

//特别推介模块
.recommend{
  border-bottom: 1px solid #666;
  .wjs_nav-tabs {
    border-bottom: 1px solid #ddd;
  }

  .wjs_nav-tabs > li {
    float: left;
    margin-bottom: -2px;
  }

  .wjs_nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    //border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: gray;
  }

  .wjs_nav-tabs > li > a:hover {
    //border-color: #eee #eee #ddd;
  }

  .wjs_nav-tabs > li.active > a,
  .wjs_nav-tabs > li.active > a:hover,
  .wjs_nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    //background-color: #fff;
    //border: 1px solid #ddd;
    //border-bottom-color: transparent;
    border-bottom: 4px solid red;
    background: skyblue;
  }

  .wjs_nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
  }

  .wjs_nav-tabs.nav-justified > li {
    float: none;
  }

  .wjs_nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
  }

  .wjs_nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: 768px) {
    .wjs_nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
    }

    .wjs_nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
  }

  .wjs_nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }

  .wjs_nav-tabs.nav-justified > .active > a,
  .wjs_nav-tabs.nav-justified > .active > a:hover,
  .wjs_nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
  }

  @media (min-width: 768px) {
    .wjs_nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }

    .wjs_nav-tabs.nav-justified > .active > a,
    .wjs_nav-tabs.nav-justified > .active > a:hover,
    .wjs_nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
}
//特别优惠模块中的优惠券
.recommend{
  .price_ticket{
    display: block;
    background-color: red;
    &:hover{
      text-decoration: none;
    }
    //伪元素-字体图标
    &::before{
      color: #fff;
      font-size: 40px;
      position: absolute;
    }

    .ticket_right{
      min-height: 150px;
      float: right;
      padding:0 30px;
      padding-top: 20px;
      background-color: orange;
      border-left: 1px dashed #fff;
      position: relative;
      p{
        text-align: center;
        color: #fff;
        font-weight: 700;
      }
      /*使用伪元素的方式添加小圆圈*/
      &::before,&::after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        left: -10px;
      }
      &::before{
        top:-10px;
        box-shadow:inset 0 -3px gray;
      }
      &::after{
        bottom:-10px;
        box-shadow:inset 0 3px gray;
      }
    }
    .ticket_left{
      min-height: 150px;
      overflow: hidden;
      color: #fff;
      h3{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 20px;
      }
      &>div{
        margin-bottom: 10px;
      }
      //&>div:nth-child(2n+1){ text-align: right;}
      &>div:nth-of-type(2n){text-align: right; }
      p{
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}

