.header .row > div {
  height: 40px;
  line-height: 40px;
  border: 1px solid gray;
  text-align: center;
}
.header .row > div > a {
  font-size: 13px;
  color: gray;
  text-decoration: none;
}
.header .row > div:nth-child(n+3) a {
  margin-left: 10px;
}
.header .row > div:first-child {
  position: relative;
}
.header .row > div:first-child img {
  display: none;
  position: absolute;
  left: 40px;
  top: 40px;
}
.header .row > div:first-child:hover img {
  display: block;
}
.nav .navbar {
  margin-bottom: 0;
}
.nav .wjs_navbar-navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.nav .wjs_navbar-navbar .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.nav .wjs_navbar-navbar .navbar-brand span {
  font-size: 50px;
}
.nav .wjs_navbar-navbar .navbar-brand span:first-child {
  color: red;
}
.nav .wjs_navbar-navbar .navbar-brand span:last-child {
  color: black;
}
.nav .wjs_navbar-navbar .navbar-brand:hover,
.nav .wjs_navbar-navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.nav .wjs_navbar-navbar .navbar-text {
  color: #777;
}
.nav .wjs_navbar-navbar .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.nav .wjs_navbar-navbar .navbar-nav > li > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.nav .wjs_navbar-navbar .navbar-nav > .active > a,
.nav .wjs_navbar-navbar .navbar-nav > .active > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .active > a:focus {
  color: #555;
}
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a,
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.nav .wjs_navbar-navbar .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}
.nav .wjs_navbar-navbar .navbar-toggle:hover,
.nav .wjs_navbar-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.nav .wjs_navbar-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.nav .wjs_navbar-navbar .navbar-collapse,
.nav .wjs_navbar-navbar .navbar-form {
  border-color: #e7e7e7;
}
.nav .wjs_navbar-navbar .navbar-nav > .open > a,
.nav .wjs_navbar-navbar .navbar-nav > .open > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.nav .wjs_navbar-navbar .navbar-link {
  color: #777;
}
.nav .wjs_navbar-navbar .navbar-link:hover {
  color: #333;
}
.nav .wjs_navbar-navbar .btn-link {
  color: #777;
}
.nav .wjs_navbar-navbar .btn-link:hover,
.nav .wjs_navbar-navbar .btn-link:focus {
  color: #333;
}
.nav .wjs_navbar-navbar .btn-link[disabled]:hover,
.nav fieldset[disabled] .wjs_navbar-navbar .btn-link:hover,
.nav .wjs_navbar-navbar .btn-link[disabled]:focus,
.nav fieldset[disabled] .wjs_navbar-navbar .btn-link:focus {
  color: #ccc;
}
.banner {
  /*移动端轮播图适配*/
}
.banner .banner_a {
  display: block;
  height: 410px;
  background-size: cover;
  /*为了让中间的内容保留，多余的部分被自动切割*/
  background-position: center;
  background-repeat: no-repeat;
}
.banner .banner_a.image_a {
  background-image: url(../images/slide_01_2000x410.jpg);
}
.banner .banner_a.image_b {
  background-image: url(../images/slide_02_2000x410.jpg);
}
.banner .banner_a.image_c {
  background-image: url(../images/slide_03_2000x410.jpg);
}
.banner .banner_a.image_d {
  background-image: url(../images/slide_04_2000x410.jpg);
}
.banner .mobile_a {
  display: block;
  width: 100%;
}
.banner .mobile_a > img {
  display: block;
  width: 100%;
}
.info {
  padding-top: 50px;
}
.info .container {
  max-width: 910px;
}
.info .container .row > div {
  margin-bottom: 25px;
  padding-left: 30px;
}
.info .wjs_media a {
  display: block;
  color: gray;
}
.info .wjs_media a:hover {
  color: red;
}
.info .wjs_media a .media-left .wjs_font {
  font-size: 40px;
}
.book {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.book .container-fluid {
  /**/
  padding: 20px 100px;
}
.book .pull-left a {
  color: red;
  border-bottom: 1px dashed red;
}
.book .pull-right a {
  color: gray;
}
.book .pull-right a:hover {
  color: red;
}
.recommend {
  border-bottom: 1px solid #666;
}
.recommend .wjs_nav-tabs {
  border-bottom: 1px solid #ddd;
}
.recommend .wjs_nav-tabs > li {
  float: left;
  margin-bottom: -2px;
}
.recommend .wjs_nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
  color: gray;
}
.recommend .wjs_nav-tabs > li.active > a,
.recommend .wjs_nav-tabs > li.active > a:hover,
.recommend .wjs_nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border-bottom: 4px solid red;
  background: skyblue;
}
.recommend .wjs_nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.recommend .wjs_nav-tabs.nav-justified > li {
  float: none;
}
.recommend .wjs_nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.recommend .wjs_nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .recommend .wjs_nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .recommend .wjs_nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.recommend .wjs_nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.recommend .wjs_nav-tabs.nav-justified > .active > a,
.recommend .wjs_nav-tabs.nav-justified > .active > a:hover,
.recommend .wjs_nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .recommend .wjs_nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .recommend .wjs_nav-tabs.nav-justified > .active > a,
  .recommend .wjs_nav-tabs.nav-justified > .active > a:hover,
  .recommend .wjs_nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.recommend .price_ticket {
  display: block;
  border: 1px solid #0094ff;
  background-color: red;
}
.recommend .price_ticket:hover {
  text-decoration: none;
}
.recommend .price_ticket .ticket_right {
  min-height: 150px;
  float: right;
  padding: 0 30px;
  padding-top: 20px;
  background-color: orange;
}
.recommend .price_ticket .ticket_right p {
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.recommend .price_ticket .ticket_left {
  min-height: 150px;
  overflow: hidden;
  color: #fff;
}
.recommend .price_ticket .ticket_left h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 20px;
}
.recommend .price_ticket .ticket_left > div:nth-of-type(2n) {
  text-align: right;
}
.recommend .price_ticket .ticket_left p {
  font-size: 12px;
  font-weight: 700;
}
