.header .row > div {
  height: 40px;
  line-height: 40px;
  border: 1px solid gray;
  text-align: center;
}
.header .row > div > a {
  font-size: 13px;
  color: gray;
  text-decoration: none;
}
.header .row > div:nth-child(n+3) a {
  margin-left: 10px;
}
.header .row > div:first-child {
  position: relative;
}
.header .row > div:first-child img {
  display: none;
  position: absolute;
  left: 40px;
  top: 40px;
}
.header .row > div:first-child:hover img {
  display: block;
}
.nav .navbar {
  margin-bottom: 0;
}
.nav .wjs_navbar-navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.nav .wjs_navbar-navbar .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.nav .wjs_navbar-navbar .navbar-brand span {
  font-size: 50px;
}
.nav .wjs_navbar-navbar .navbar-brand span:first-child {
  color: red;
}
.nav .wjs_navbar-navbar .navbar-brand span:last-child {
  color: black;
}
.nav .wjs_navbar-navbar .navbar-brand:hover,
.nav .wjs_navbar-navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.nav .wjs_navbar-navbar .navbar-text {
  color: #777;
}
.nav .wjs_navbar-navbar .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.nav .wjs_navbar-navbar .navbar-nav > li > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.nav .wjs_navbar-navbar .navbar-nav > .active > a,
.nav .wjs_navbar-navbar .navbar-nav > .active > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .active > a:focus {
  color: #555;
}
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a,
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.nav .wjs_navbar-navbar .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}
.nav .wjs_navbar-navbar .navbar-toggle:hover,
.nav .wjs_navbar-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.nav .wjs_navbar-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.nav .wjs_navbar-navbar .navbar-collapse,
.nav .wjs_navbar-navbar .navbar-form {
  border-color: #e7e7e7;
}
.nav .wjs_navbar-navbar .navbar-nav > .open > a,
.nav .wjs_navbar-navbar .navbar-nav > .open > a:hover,
.nav .wjs_navbar-navbar .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .nav .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.nav .wjs_navbar-navbar .navbar-link {
  color: #777;
}
.nav .wjs_navbar-navbar .navbar-link:hover {
  color: #333;
}
.nav .wjs_navbar-navbar .btn-link {
  color: #777;
}
.nav .wjs_navbar-navbar .btn-link:hover,
.nav .wjs_navbar-navbar .btn-link:focus {
  color: #333;
}
.nav .wjs_navbar-navbar .btn-link[disabled]:hover,
.nav fieldset[disabled] .wjs_navbar-navbar .btn-link:hover,
.nav .wjs_navbar-navbar .btn-link[disabled]:focus,
.nav fieldset[disabled] .wjs_navbar-navbar .btn-link:focus {
  color: #ccc;
}
.banner {
  /*移动端轮播图适配*/
}
.banner .banner_a {
  display: block;
  height: 410px;
  background-size: cover;
  /*为了让中间的内容保留，多余的部分被自动切割*/
  background-position: center;
  background-repeat: no-repeat;
}
.banner .banner_a.image_a {
  background-image: url(../images/slide_01_2000x410.jpg);
}
.banner .banner_a.image_b {
  background-image: url(../images/slide_02_2000x410.jpg);
}
.banner .banner_a.image_c {
  background-image: url(../images/slide_03_2000x410.jpg);
}
.banner .banner_a.image_d {
  background-image: url(../images/slide_04_2000x410.jpg);
}
.banner .mobile_a {
  display: block;
  width: 100%;
}
.banner .mobile_a > img {
  display: block;
  width: 100%;
}
.info media {
  margin-top: 15px;
}
.info .media:first-child {
  margin-top: 0;
}
.info .media,
.info .media-body {
  overflow: hidden;
  zoom: 1;
}
.info .media-body {
  width: 10000px;
}
.info .media-object {
  display: block;
}
.info .media-object.img-thumbnail {
  max-width: none;
}
.info .media-right,
.info .media > .pull-right {
  padding-left: 10px;
}
.info .media-left,
.info .media > .pull-left {
  padding-right: 10px;
}
.info .media-left,
.info .media-right,
.info .media-body {
  display: table-cell;
  vertical-align: top;
}
.info .media-middle {
  vertical-align: middle;
}
.info .media-bottom {
  vertical-align: bottom;
}
.info .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.info .media-list {
  padding-left: 0;
  list-style: none;
}
