.header{
  .row{
    &>div{
      height:40px;
      line-height: 40px;
      border: 1px solid gray;
      text-align: center;
      &>a{
        font-size: 13px;
        color: gray;
        text-decoration: none;
      }
      &:nth-child(n+3) a{
        margin-left: 10px;
      }
      &:first-child {
        position: relative;
        img {
          display: none;
          position: absolute;
          left: 40px;
          top: 40px;
        }
        &:hover {
          img {
            display: block;
          }
        }
      }
    }
  }
}
//bootstrap中导航条样式的拷贝和调试
.wjs_navbar-navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.wjs_navbar-navbar .navbar-brand {
  color: #777;
}
.wjs_navbar-navbar .navbar-brand:hover,
.wjs_navbar-navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_navbar-navbar .navbar-text {
  color: #777;
}
.wjs_navbar-navbar .navbar-nav > li > a {
  color: #777;
}
.wjs_navbar-navbar .navbar-nav > li > a:hover,
.wjs_navbar-navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.wjs_navbar-navbar .navbar-nav > .active > a,
.wjs_navbar-navbar .navbar-nav > .active > a:hover,
.wjs_navbar-navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.wjs_navbar-navbar .navbar-nav > .disabled > a,
.wjs_navbar-navbar .navbar-nav > .disabled > a:hover,
.wjs_navbar-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs_navbar-navbar .navbar-toggle {
  border-color: #ddd;
}
.wjs_navbar-navbar .navbar-toggle:hover,
.wjs_navbar-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_navbar-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_navbar-navbar .navbar-collapse,
.wjs_navbar-navbar .navbar-form {
  border-color: #e7e7e7;
}
.wjs_navbar-navbar .navbar-nav > .open > a,
.wjs_navbar-navbar .navbar-nav > .open > a:hover,
.wjs_navbar-navbar .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_navbar-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_navbar-navbar .navbar-link {
  color: #777;
}
.wjs_navbar-navbar .navbar-link:hover {
  color: #333;
}
.wjs_navbar-navbar .btn-link {
  color: #777;
}
.wjs_navbar-navbar .btn-link:hover,
.wjs_navbar-navbar .btn-link:focus {
  color: #333;
}
.wjs_navbar-navbar .btn-link[disabled]:hover,
fieldset[disabled] .wjs_navbar-navbar .btn-link:hover,
.wjs_navbar-navbar .btn-link[disabled]:focus,
fieldset[disabled] .wjs_navbar-navbar .btn-link:focus {
  color: #ccc;
}